<?xml version="1.0"?>
<config>
    <modules>
        <Eformance_KomerciParc>
            <version>1.0.0</version>          
        </Eformance_KomerciParc>
    </modules>
    <global>
        <models>
            <Eformance_KomerciParc>
                <class>Eformance_KomerciParc_Model</class>
            </Eformance_KomerciParc>
        </models>
        <resources>
            <Eformance_KomerciParc_setup>
                <setup>
                    <module>Eformance_KomerciParc</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Eformance_KomerciParc_setup>
            <Eformance_KomerciParc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Eformance_KomerciParc_write>
            <Eformance_KomerciParc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Eformance_KomerciParc_read>
        </resources>
        <helpers>
            <Eformance_KomerciParc>
                <class>Eformance_KomerciParc_Helper</class>
            </Eformance_KomerciParc>
        </helpers>
        <blocks>
            <Eformance_KomerciParc>
                <class>Eformance_KomerciParc_Block</class>
            </Eformance_KomerciParc>
        </blocks>
    </global>
    <frontend>      
        <routers>
            <Eformance_KomerciParc>
                <use>standard</use>
                <args>
                    <module>Eformance_KomerciParc</module>
                    <frontName>komerce</frontName>
                </args>
            </Eformance_KomerciParc>
        </routers>
        <translate>
            <modules>
                <Eformance_KomerciParc>
                    <files>
                        <default>Eformance_KomerciParc.csv</default>
                    </files>
                </Eformance_KomerciParc>
            </modules>
        </translate>
        <layout>
            <updates>
                <Eformance_KomerciParc>
                    <file>Eformance_KomerciParc.xml</file>
                </Eformance_KomerciParc>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Eformance_KomerciParc>
                    <files>
                        <default>Eformance_KomerciParc.csv</default>
                    </files>
                </Eformance_KomerciParc>
            </modules>
        </translate>        
    </adminhtml>

    <default>
         <payment>
             <Eformance_KomerciParc>
                  <model>Eformance_KomerciParc_Model_Payment</model>
                  <active>0</active>
                  <title>Cartão de crédito</title>
                  <order_status>pending</order_status>
                  <filiacao>000000</filiacao>
                  <msg_add>Nossa loja tem um ambiente seguro com uma chave de criptografia de 256bits..</msg_add>
                  <tipo_parcelamento>0</tipo_parcelamento>
                  <num_max_parc>0</num_max_parc>
                  <parcelamento_semjuros>0</parcelamento_semjuros>      
                  <desconto_avista>0</desconto_avista>                  
            </Eformance_KomerciParc>
        </payment>
    </default>
</config>
